.navbar {
    /* background-image: url('file:///C:/Users/hp15-AY/Desktop/ReactFolders/ecommerce_frontend/public/images/nav.png'); */
    max-width: 100%;
    background-size: contain;
    height: 12rem;
    color: rgb(0, 104, 117);
}